button:focus, a:focus {
  outline: none !important; }

body {
  font-family: 'Roboto', sans-serif; }

.ul {
  position: absolute;
  right: 8%; }

header {
  background: #73451f; }
  header .diminui-menu {
    padding: 1% 0% 1% 0% !important; }
  header .diminui-logo {
    width: 5% !important; }
  header .logo-div {
    position: absolute;
    top: 0.2%;
    left: 8%;
    width: 8%;
    transition: 0.5s;
    padding: 1%;
    background-color: #383838; }
    header .logo-div .logo {
      width: 20%; }
  header .links {
    padding: 3% 0% 3% 0%;
    transition: 0.5s; }
    header .links .nav-link {
      color: #ffff !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200; }

.title, .sect1 .left-col h2, .sect2 .container h2, .sect3 .container .texto h2, .sect4 h2, .sect5 h2 {
  font-size: 78px;
  font-weight: 400;
  line-height: 100%; }

.sect1 {
  padding-top: 4%;
  padding-bottom: 4%; }
  .sect1 .col-espaco {
    padding-top: 10%;
    border-left: 1px solid silver; }
  .sect1 .col-right {
    border-right: 1px solid silver; }
  .sect1 .left-col {
    display: flex;
    align-items: center; }
    .sect1 .left-col h2 {
      color: #d1d3d2; }
    .sect1 .left-col .texto-desc {
      text-transform: uppercase;
      letter-spacing: 1px;
      position: absolute;
      bottom: 47%;
      left: 28%;
      color: #383838; }
  .sect1 .comando {
    width: 67%; }

.sect2 {
  padding-top: 2%;
  padding-bottom: 2%;
  background-size: cover !important;
  background-position: center !important; }
  .sect2 .container {
    padding: 15% 0% 4% 2%;
    border-left: 1px solid white; }
    .sect2 .container h2 {
      color: #fff; }
    .sect2 .container .texto-desc {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .sect2 .container .textos {
      padding-bottom: 5%;
      border-bottom: 1px solid white; }

.sect3 {
  background: -webkit-linear-gradient(0deg, #73451f 50%, #ffffff 50%); }
  .sect3 .container {
    padding-top: 6%;
    padding-bottom: 6%; }
    @media (min-width: 1800px) {
      .sect3 .container {
        max-width: 80%; } }
    .sect3 .container .galeria-imp {
      z-index: 1000;
      position: relative;
      margin-top: 12%; }
      .sect3 .container .galeria-imp .item {
        padding: 0; }
        .sect3 .container .galeria-imp .item .title-imp {
          position: absolute !important;
          left: 35% !important;
          margin-top: -3.5% !important;
          text-transform: uppercase !important;
          color: #fff !important;
          opacity: 0;
          letter-spacing: 1px !important; }
          @media (min-width: 1800px) {
            .sect3 .container .galeria-imp .item .title-imp {
              margin-top: -2.9% !important; } }
      .sect3 .container .galeria-imp .slick-next {
        left: 25.8% !important; }
      .sect3 .container .galeria-imp .slick-prev {
        left: 23% !important; }
      .sect3 .container .galeria-imp .slick-active .title-imp {
        opacity: 1; }
    .sect3 .container .texto {
      background: #383838;
      position: absolute;
      width: 32.4%;
      text-align: right;
      padding: 2% 3% 2% 0%;
      right: 1%;
      top: 1%;
      z-index: 10; }
      .sect3 .container .texto h2 {
        color: white;
        font-size: 65px !important; }
    .sect3 .container ul {
      list-style: decimal;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 170%; }
      .sect3 .container ul li {
        margin-bottom: 4%; }

.sect4 {
  background: -webkit-linear-gradient(0deg, #ffffff 50%, #383838 50%);
  padding-top: 7%;
  padding-bottom: 7%; }
  .sect4 h2 {
    color: #383838;
    text-align: right; }
  .sect4 .text-desc {
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
    border-bottom: 1px solid black; }
  .sect4 .slick-prev {
    left: 80% !important; }
  .sect4 .slick-next {
    left: 83.8% !important; }
  .sect4 .title-imp {
    position: absolute;
    right: 18%;
    margin-top: 1%;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0; }
  .sect4 .slick-track {
    padding-bottom: 3%; }
  .sect4 .c-right {
    border-left: 1px solid black;
    border-bottom: 1px solid white;
    padding-bottom: 2%; }
  .sect4 .slick-active .title-imp {
    opacity: 1; }

.sect5 {
  background: -webkit-linear-gradient(0deg, #73451f 50%, #ffffff 50%);
  padding-top: 7%;
  padding-bottom: 7%; }
  .sect5 h2 {
    color: #383838;
    text-align: right; }
  .sect5 .text-desc {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right; }
  .sect5 .slick-prev {
    left: 3% !important; }
  .sect5 .slick-next {
    left: 6.8% !important; }
  .sect5 .title-imp {
    position: absolute;
    right: 71%;
    margin-top: 1%;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0; }
  .sect5 .slick-track {
    padding-bottom: 5%; }
  .sect5 .c-right {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-bottom: 2%; }
  .sect5 .slick-active .title-imp {
    opacity: 1; }

.contato .form .campo input[type=text], .contato .form .campo input[type=tel], .contato .form .campo input[type=email], .contato .form .campo textarea {
  width: 100%;
  padding: 1% 1% 1% 1%;
  margin-bottom: 1%;
  border: 2px solid #383838; }
.contato .form input[type=submit] {
  float: right;
  background-color: #383838;
  color: white;
  border: 1px solid;
  padding: 1% 3% 1% 3%;
  text-transform: uppercase;
  letter-spacing: 1px; }

@media (max-width: 980px) {
  .muda-div {
    width: 10% !important; }

  header .conts {
    display: block !important; }
    header .conts .navbar-toggler {
      float: right;
      background: #fff; }
  header .logo-div {
    width: 16%; }
    header .logo-div .navbar-brand {
      margin-right: 0 !important; }
  header ul {
    text-align: center !important;
    width: 100% !important;
    padding-top: 6% !important;
    position: relative !important;
    right: 0 !important;
    opacity: 0;
    transition: 0.5s; }
  header .show ul {
    opacity: 1 !important; }

  .sect1 .texto-desc {
    bottom: 52% !important;
    font-size: 12px !important;
    left: 25% !important; }

  .sect3 {
    background: -webkit-linear-gradient(270deg, #73451f 56%, #ffffff 56%); }
    .sect3 .texto {
      width: 67.4% !important; }
    .sect3 .galeria-imp {
      margin-top: 56% !important; }
    .sect3 .slick-list {
      padding-bottom: 12%; }
    .sect3 .slick-next {
      left: 51.8% !important; }
    .sect3 ul {
      margin-top: 20% !important; }

  .sect4 {
    background: -webkit-linear-gradient(270deg, #ffffff 58%, #383838 58%) !important; }
    .sect4 .slick-prev {
      left: 0% !important; }
    .sect4 .slick-next {
      left: 9.8% !important; }
    .sect4 .title-imp {
      right: 36% !important; }

  .sect5 {
    background: -webkit-linear-gradient(270deg, #ffffff 59%, #73451f 59%); }
    .sect5 .title-imp {
      right: 36% !important; }
    .sect5 .slick-prev {
      left: 0% !important; }
    .sect5 .slick-next {
      left: 9.8% !important; }
    .sect5 .col-desk {
      display: none; }
    .sect5 .col-mob {
      display: block !important; } }
.sect5 .col-mob {
  display: none; }

footer {
  background-color: #383838;
  color: #fff;
  padding: 1% 0% 1% 0%;
  margin-top: 4%; }
  footer .ass {
    width: 6%; }

/*# sourceMappingURL=style.css.map */
